*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    background-color: rgb(0, 174, 255);
    /* margin: auto; */
}
a{
    /* border: 2px solid red; */
width: 10%;
display: flex;
align-items: center;
justify-content: center;
font-size: large;
text-decoration: none;
color: #fff;
}
#navbar{
    display:flex;
    /* width: 100%; */
}
#nav{
    width: 80%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
#input{
    margin: auto;
    width: 200px;
    border: none;
    /* margin: auto; */
    height: 30px;
    /* display:inline; */
}
#input:focus{
    width: 200px;
    border: none;
    margin: auto;
    height: 30px;
    outline: none;

}

.result{
    width: 206px;
    height: 300px;
    /* border: 1px solid black; */
    border-top: none;
    display: none;
    position:absolute;
}
.result>p:hover{
    cursor: pointer;
    background-color: #fff;
}
#show{
    display: block;
    overflow: scroll;
    background-color: rgb(224, 224, 224);
    margin: auto;
    position:absolute;
    left: 50%;
    /* right: 50%; */
    margin-left: -103px;
    top: 40px;
}
#result{
    background-color: #fff;
    width: 32%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    /* align-items: center; */
}
#result>:nth-child(1)>:nth-child(1){
width: 50%;
}
#result>:nth-child(1){
margin: auto;
padding: 40px;
text-align: center;
}
